# requirements.txt

# --- Core Deep Learning Libraries ---
# IMPORTANT: These PyTorch & PyG related libraries should be installed manually
# using the specific commands for your CUDA version first.
# The versions listed here are for reference.
--extra-index-url https://download.pytorch.org/whl/cu118
--find-links https://data.pyg.org/whl/torch-2.7.1+cu118.html

torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
torch_geometric
torch_cluster
torch_scatter
torch_sparse  
# pyg-lib

# --- Data Processing and Machine Learning ---
numpy
scikit-learn
open3d

# --- Utilities and Visualization ---
tqdm
matplotlib
